.benefits-description {
    display: flex;
    padding-left: 0;
    text-align: left;
    gap: 30px;
    &__heading {
      font-weight: 700;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--color-heading);
    }
    &__item {
      gap: 30;
    }
    &__paragraph {
      font-size: 14px;
      line-height: calc(24 / 14);
      letter-spacing: 0.03em;
      color: var(--color-paragraph);
      margin-top: 10px;
      max-width: 270px;
    }
  }
  .benefits {
    padding-top: 94px;
    &__icon {
      display: flex;
      gap: 30px;
      padding-left: 0;
      margin-bottom: 30px;
      align-items: center;
      justify-content: center;
    }
    
    &__item {
      width: 270px;
      height: 120px;
      border: 50%;
      background-color: #f5f4fa;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  
