
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    // flex-direction: column;
    // justify-content: center;
  }
  
  .footer-wrap {display: flex;
  flex-wrap: wrap;
justify-content: center;
width: 100%;}



  .footer-adress {
    padding-left: 0;
    margin-top: 20px;
    justify-content: center;
    
  }
  .logo_adress {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  width: 100%;
margin-bottom: 60px;
@include tablet {width: 50%;}
@include desktop {width: 25%}
}


  .footer-logo {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }

  .footer-item {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    text-align: center;
   

    &:last-child {
      margin-bottom: 0;
    }
  }

  .address-link {
    color: #ffffff;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--basic-color);
    }
  }
  
  .mailing {display: flex;
  flex-direction: column;
align-items:center;
width: 100%;
@include desktop {width: 50%;}}

  .mailing-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  .mailing-input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .sent-svg {
    position: absolute;
    right: 50%;
    bottom: 13px;
    transform: translateX(320%);
  }
  .input-mailing {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    height: 50px;
    color: #ffffff;
    width:100%;
    margin-bottom: 20px;
   
  }
 
  .mailing_btn {
    padding-right: 62px;
  }
  
  .social-link-footer {display: flex;
    flex-direction: column;
    align-items: center;
  margin-bottom: 60px;
  width: 100%;

@include tablet{width: 50%;}
@include desktop {width: 25%;}
}
  .social-connect-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;

  }
  .social-connect-list {
    display: flex;
    gap: 10px;
    padding-left: 0;
  }
  
  .soc-item-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #ffffff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #2196f3;
    }
  }
  
.footer-label {width: 100%;}