.header > .container {
    display: flex;
    align-items: center;
  }
  
  .header {
    background: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    @include desktop {padding-top: 0;
      padding-bottom: 0;};
    @include tablet {padding-top: 0;
        padding-bottom: 0;}
  
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .navigation__list {
    display: none;
    gap: 30px;
    padding-left: 0;
    margin-left: 83px;
    @include tablet {display: flex;
      margin-left: 88px;
    gap: 50px;}
    @include desktop {display: flex;}
    
  }

  .navigation__item {
    position: relative;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .current::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 10px;
    color: var(--color-heading);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not:last-child {
      margin-right: 50px;
    }

    &:hover, &:focus {
      color: var(--basic-color);
    }
  }
  
  
  

  .contacts {
    margin-left: auto;

  &__adress {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      color: var(--color-paragraph);
      display: none;
      @include tablet {display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
    }
      @include desktop {display: flex;
      flex-direction: row;}
    }
    
  &__item {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      color: var(--color-paragraph);
      fill: var(--color-paragraph);
      margin-left: 15px;
      align-items: center;
      display: flex;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
  
      &:hover,
      &:focus {
      color: var(--basic-color);
      fill: var(--basic-color);
    }
    }
    
  }
  
  
  .adress-icon {
    margin-right: 10px;
  }

  .menu-open {display:flex;    margin-left: auto;
  width: 40px;
height: 40px;
padding: 0;
border: none; background-color: transparent;
@include tablet {display: none;}}


.menu-close {display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border: none;
  &:hover, &:focus {
    fill:var(--basic-color)}
}
.mob-menu {position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  >.container {display: flex;
  flex-direction: column;
height: 100%;
justify-content: space-between;
overflow: auto;}
}
.mob-menu.visually-hidden { }

.mob-menu-nav {
}
.mob-menu-list {
}

.mob-menu-item {margin-bottom: 32px;
  &:last-child {margin-bottom: 0;}
}
.mob-menu-link {font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  
  
}

.navigation__item {
}
.mob-connect {
}
.mob-connect-adress {
}
.mob-connect-item {&:first-child {margin-bottom: 32px;}
}
.mob-connect-mail {font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196F3;
  
}
.mob-connect-phone {font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  }
  .mob-soc-link {
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196F3;
    
   
  
    
  }
.mob-soc {display: flex;
  gap: 10px;
  margin-top: 64px;
  
}
.mob-soc-item { 
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {border: none;}}
