.header > .container {
    display: flex;
    align-items: center;
  }
  
  .header {
    background: #ffffff;
  
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .navigation__list {
    display: flex;
    gap: 30px;
    padding-left: 0;
    margin-left: 83px;
  }

  .navigation__item {
    position: relative;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .current::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 10px;
    color: var(--color-heading);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not:last-child {
      margin-right: 50px;
    }

    &:hover, &:focus {
      color: var(--basic-color);
    }
  }
  
  
  

  .contacts {
    margin-left: auto;

  &__adress {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      color: var(--color-paragraph);
      display: flex;
    }
    
  &__item {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      color: var(--color-paragraph);
      fill: var(--color-paragraph);
      margin-left: 15px;
      align-items: center;
      display: flex;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
      color: var(--basic-color);
      fill: var(--basic-color);
    }
    }
    
  }
  
  
  .adress-icon {
    margin-right: 10px;
  }